@page "/Mixed"

@inject SumService SumService
@inject UserService UserService

<h1 class="title">Tafels door elkaar</h1>

@if (_inGame == false)
{
    <p class="subtitle">Welke tafels wil je oefenen?</p>

    <TableSelector OnChange="@TablesChanged"/>

    @if (_tables.Count == 0)
    {
        <p>Kies een of meer tafels om te beginnen!</p>
    }
    else
    {
        <p>
            <button class="button is-success is-large" @onclick="StartGame">Start</button>
        </p>
    }
}
else
{
    <p class="subtitle">
        @if (_tables.Count == 1)
        {
            <span>De tafel van @_tables.First() door elkaar</span>
        }
        else
        {
            <span>De tafels van @string.Join(" en ", _tables) door elkaar</span>
        }
    </p>

    <p>Jouw score: <strong class="is-size-4">@_score</strong> sommen goed gemaakt!</p>

    <Quiz @key="@_round" Round="@_round" Check="@Check">
        <Alert Color="Color.Success" Visible="true" Class="is-light">
            <AlertMessage>Goed gedaan!</AlertMessage>
            <AlertDescription>Klik op de groene knop om door te gaan!</AlertDescription>
        </Alert>
        <Button Color="Color.Success" Size="Size.Large" Clicked="QuizDone">Volgende ronde</Button>
    </Quiz>
}

@code {
    private List<int> _tables = new();
    private bool _inGame;
    private int _score;

    private Round _round;

    void TablesChanged(List<int> tables)
    {
        _tables = tables;
    }

    void Check()
    {
    // Remove incorrect answered sums from history so they will have a higher
    // chance of recurring in the next round
        foreach (var sum in _round.Sums.Where(sum => !sum.Correct))
            SumService.RemoveFromHistory(sum);

        _round.ShowResults = true;
    }

    private async Task QuizDone()
    {
        _round.ShowResults = false;
        _score += 5;
        StartGame();

        await UserService.AddStars(1);
    }

    private void StartGame()
    {
        _round = new Round
        {
            Sums = SumService.Random(5, _tables)
        };
        _inGame = true;
    }

}
