@page "/Mixed"
@inject SumService SumService

<NavLink class="button is-pulled-right" href="/">
    <span class="icon">
        <Icon Name="IconName.Home"/>
    </span>
</NavLink>

<h1 class="title">Tafels door elkaar</h1>

@if (_inGame == false)
{
    <p class="subtitle">Welke tafels wil je oefenen?</p>

    <TableSelector OnChange="@TablesChanged"/>

    @if (_tables.Count == 0)
    {
        <p>Kies een of meer tafels om te beginnen!</p>
    }
    else
    {
        <p>
            <button class="button is-success is-large" @onclick="StartGame">Start</button>
        </p>
    }
}
else
{
    <p class="subtitle">
        @if (_tables.Count == 1)
        {
            <span>De tafel van @_tables.First() door elkaar</span>
        }
        else
        {
            <span>De tafels van @string.Join(" en ", _tables) door elkaar</span>
        }
    </p>

    <Quiz @key="@_round" Round="@_round" Check="@(_ => _round.ShowResults = true)">
        <p class="notification is-success is-light">Goed gedaan! Klik op de groene knop om door te gaan!</p>
        <button class="button is-large is-success" @onclick="QuizDone">Volgende ronde</button>
    </Quiz>
}

@code {
    private List<int> _tables = new();
    private bool _inGame;

    private Round _round;

    void TablesChanged(List<int> tables)
    {
        _tables = tables;
    }

    void QuizDone()
    {
        _round.ShowResults = false;
        StartGame();
    }

    private void StartGame()
    {
        _round = new Round
        {
            Sums = SumService.Random(5, _tables)
        };
        _inGame = true;
    }

}