@page "/Single"

@inject IAnalytics Analytics
@inject UserService UserService

<h1 class="title">Eén tafel, op volgorde</h1>

<p class="subtitle">Kies een tafel om te oefenen</p>

<TableSelector OnChange="@TablesChanged" Single="true"/>

@if (_table is not null)
{
    <h2 class="title">De tafel van @_table</h2>

    <Quiz @key="@_round" Round="@_round" Check="@(_ => _round.ShowResults = true)">
        <Alert Color="Color.Success" Visible="true" Class="is-light">
            <AlertMessage>Helemaal goed!</AlertMessage>
            <AlertDescription>Kies de volgende tafel of begin opnieuw.</AlertDescription>
        </Alert>
        <Button Color="Color.Success" Size="Size.Large" Clicked="NewRound">Volgende ronde</Button>
    </Quiz>
}

@code {
    private int? _table;
    private Round _round;

    private async Task TablesChanged(List<int> tables)
    {
        _table = tables.FirstOrDefault();
        await NewRound();
    }

    private async Task NewRound()
    {
        if (_round?.Completed ?? false) await UserService.AddStars(1);

        if (_table != null)
        {
            _round = new Round
            {
                Sums = SumService.FullTable(_table ?? 0) // _table!
            };
        }

        await Analytics.TrackEvent("Single.NewRound");
    }

}
